/* Header section is blue with white text*/
/* Header section is blue with white text*/

.header-section{
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    font-size: larger;
    background-color: rgb(7,104,221);
    background-color: linear-gradient(90deg, rgba(7,104,221,1) 0%, rgba(55,11,130,1) 94%);
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
  }
.searchSection{
    padding:20px;
    margin: 20px;

}
.main-section{
    display: flex;
    flex-direction: row;
}
.today-weather{
    padding-left: 20px;
    padding-right: 20px;
}
.btn-extra{
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
}
.main-weather{
    margin:20px;
    padding:20px;

}
.weather-box{
    background-color: rgba(55,11,130,1) ;
    color:aliceblue;
    padding:20px;
    margin: 20px;

}
.five-boxes{
    display: flex;
    flex-direction: row;

}